@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	text-align: center;
	margin: 0;
	background: url() top center no-repeat, url(https://static0.twilio.com/bundles/quickstart/whitey.png) center top repeat;
}

#frame
{
	width: 1400px; height: 800px;
	margin: 0 auto 0 auto;
	border-style: solid;
	border-color: #4F4F4F;
	vertical-align:middle;
}

.phone
{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

.hotButton
{
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	background: #3D90C9;
	/*font-weight: bold;*/
	border: 3px solid #4F4F4F;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px 20px 20px 20px;
	margin: 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.coolButton
{
	color: #ffffff;
	background: #3D90C9;
	font-weight: bold;
	border: 1px solid #4F4F4F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 25px 25px 25px 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.hotMap
{
	width: 1400px; height: 800px;
	margin: 0 auto 0 auto;
}

.logos
{
	margin-top: 25px;
	margin-bottom: 25px;
}
