@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	text-align: center;
	margin: 0;
	background: url() top center no-repeat, url(https://static0.twilio.com/bundles/quickstart/whitey.png) center top repeat;
}

#frame
{
	position: relative;
	height: 100%;
	width: 100%;
	border-style: solid;
	border-color: #4F4F4F;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-radius: 10px, 10px, 10px, 10px
}

.phone
{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.hotButton
{
	color: #ffffff;
	background: #3D90C9;
	font-weight: bold;
	border: 1px solid #ffffff;
	border-radius: 25px, 25px, 25px, 25px;
	margin: 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.coolButton
{
	color: #ffffff;
	background: #3D90C9;
	font-weight: bold;
	border: 1px solid #ffffff;
	border-radius: 25px, 25px, 25px, 25px;
	margin: 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.hotMap
{
	width: 1400px; height: 800px;
	margin: 0 auto 0 auto;
}

.logos
{
	margin-top: 25px;
	margin-bottom: 25px;
}
